<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycl.shop.mapper.SpecMapper">

<resultMap type="Spec" id="SpecMap">
	<id column="id" property="id"/>
	<result column="spec_name" property="specName"/>
	<collection property="options" ofType="SpecOption" select="queryOptions" column="id">
	
	</collection>
</resultMap>

<select id="queryOptions" resultType="SpecOption">
	select * from hg_spec_option where spec_id =#{id}
</select>




<!--添加主表  -->
	<insert id="addSpec" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into hg_spec (spec_name) values(#{specName})
	</insert>
	<!--删除子表  -->
	<delete id="delOption">
		delete from hg_spec_option where spec_id in
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	
	<!--删除主表  -->
	<delete id="deleteSpec">
		delete from hg_spec where id in
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	<!--修改主表  -->
	<update id="updateSpec">
		update hg_spec set spec_name=#{specName} where id =#{id}
	</update>
	
	<!-- 添加子表 -->
	<insert id="addOption">
		insert into hg_spec_option(option_name,spec_id,orders) values (#{optionName},#{specId},#{orders})
	</insert>
	
	
	
	<select id="listSpec" resultMap="SpecMap">
		select * from hg_spec
		<where>
			<if test="specName!=null and specName!=''">
				and sepc_name like concat('%',#{specName},'%')
			</if>
		</where>
	</select>
	
	<select id="getspecByid" resultMap="SpecMap">
		select * from hg_spec where id =#{value}
	</select>
	
	<select id="listAll" resultType="spec">
		SELECT * FROM hg_spec ORDER BY spec_name ASC
	</select>
	
	<select id="listOptionByskuId" resultType="SpecOption">
		SELECT spec_option_id AS id ,spec_id as specId FROM hg_sku_spec WHERE sku_id=#{value}
	</select>
</mapper>

