/Descr.WD3
/fontawesome-webfont.eot@
/fontawesome-webfont.eot@v=4.3.0
/fontawesome-webfont.svg@v=4.3.0
/fontawesome-webfont.ttf@v=4.3.0
/fontawesome-webfont.woff2@v=4.3.0
/fontawesome-webfont.woff@v=4.3.0
/glyphicons-halflings-regular.eot
/glyphicons-halflings-regular.svg
/glyphicons-halflings-regular.ttf
/glyphicons-halflings-regular.woff
/glyphicons-halflings-regular.woff2
